.container {
  padding: 3rem 1rem;
  border-bottom: 5px solid #cbd5e0;
  margin-bottom: 20px;
}

.textStyle {
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  color: #4a5568;
}
.spanStyle {
  text-transform: uppercase;
  background: #718096;
  color: #cbd5e0;
  padding: 5px 10px;
  border: 1px solid #718096;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}
