.wrapper {
  text-align: center;
}

.joke__container {
  display: grid;
  justify-items: center;
}

.title {
  background: #4a5568;
  text-align: center;
  padding: 0.8rem 2rem;
  color: #edf2f7;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.loader {
  width: 80px;
  height: 80px;
  border: 5px solid #cbd5e0;
  border-radius: 50%;
  border-top: 5px solid #3182ce;
  margin: 20px auto;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  font-size: 1rem;
  border: none;
  box-shadow: none;
  margin: 20px auto;
  outline: none;
  background: #bee3f8;
  color: #2c5282;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: 5px solid #2c5282;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  outline-offset: 5px;
}
