@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*custome css */

.loader {
  border-top-color: #4299e1;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
